## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
rows, columns = app_train.shape
app_train.shape

(307511, 122)

#### 列出所有欄位

In [5]:
#app_train.iloc[0,:]
#app_train.columns.values
app_train.keys()

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
select = pd.DataFrame(app_train.SK_ID_CURR)
select['CONTRACT_TYPE'] = pd.DataFrame(app_train.NAME_CONTRACT_TYPE)
#app_train.iloc[:10, :]

temp = app_train['NAME_CONTRACT_TYPE'].str.split(" ",  n=1, expand=True)
select['Loans_Type'] = temp[0]

select['Gender'] = pd.DataFrame(app_train.CODE_GENDER).replace(['M','F'], ['Male','Female'])

temp = app_train[['CNT_CHILDREN']].astype('str')
select['Famliy_withChildren'] = app_train['NAME_FAMILY_STATUS'].str.cat(temp, sep=' - ')
select

,SK_ID_CURR,CONTRACT_TYPE,Loans_Type,Gender,Famliy_withChildren
0,100002,Cash loans,Cash,Male,Single / not married - 0
1,100003,Cash loans,Cash,Female,Married - 0
2,100004,Revolving loans,Revolving,Male,Single / not married - 0
3,100006,Cash loans,Cash,Female,Civil marriage - 0
4,100007,Cash loans,Cash,Male,Single / not married - 0
5,100008,Cash loans,Cash,Male,Married - 0
6,100009,Cash loans,Cash,Female,Married - 1
7,100010,Cash loans,Cash,Male,Married - 0
8,100011,Cash loans,Cash,Female,Married - 0
9,100012,Revolving loans,Revolving,Male,Single / not married - 0
10,100014,Cash loans,Cash,Female,Married - 1
11,100015,Cash loans,Cash,Female,Married - 0
12,100016,Cash loans,Cash,Female,Married - 0
13,100017,Cash loans,Cash,Male,Married - 1
14,100018,Cash loans,Cash,Female,Married - 0
15,100019,Cash loans,Cash,Male,Single / not married - 0
16,100020,Cash loans,Cash,Male,Married - 0
17,100021,Revolving loans,Revolving,Female,Married - 1
18,100022,Revolving loans,Revolving,Female,Widow - 0
19,100023,Cash loans,Cash,Female,Single / not married - 1
20,100024,Revolving loans,Revolving,Male,Married - 0
21,100025,Cash loans,Cash,Female,Married - 1
22,100026,Cash loans,Cash,Female,Married - 1
23,100027,Cash loans,Cash,Female,Married - 0
24,100029,Cash loans,Cash,Male,Married - 2
25,100030,Cash loans,Cash,Female,Married - 0
26,100031,Cash loans,Cash,Female,Widow - 0
27,100032,Cash loans,Cash,Male,Married - 1
28,100033,Cash loans,Cash,Male,Single / not married - 0
29,100034,Revolving loans,Revolving,Male,Single / not married - 0
...,...,...,...,...,...
307481,456225,Cash loans,Cash,Male,Married - 0
307482,456226,Cash loans,Cash,Female,Married - 0
307483,456227,Cash loans,Cash,Female,Separated - 0
307484,456228,Cash loans,Cash,Female,Married - 0
307485,456229,Revolving loans,Revolving,Female,Separated - 1
307486,456230,Cash loans,Cash,Female,Civil marriage - 1
307487,456231,Cash loans,Cash,Male,Married - 0
307488,456232,Cash loans,Cash,Female,Single / not married - 0
307489,456233,Cash loans,Cash,Female,Civil marriage - 0
307490,456234,Cash loans,Cash,Male,Single / not married - 0
307491,456235,Cash loans,Cash,Male,Married - 2
307492,456236,Cash loans,Cash,Male,Married - 0
307493,456237,Cash loans,Cash,Female,Married - 0
307494,456238,Cash loans,Cash,Male,Married - 1
307495,456239,Cash loans,Cash,Male,Married - 0
307496,456240,Revolving loans,Revolving,Female,Married - 0
307497,456241,Cash loans,Cash,Female,Married - 0
307498,456242,Cash loans,Cash,Male,Married - 0
307499,456243,Cash loans,Cash,Female,Married - 0
307500,456244,Cash loans,Cash,Female,Married - 0
307501,456245,Cash loans,Cash,Female,Married - 3
307502,456246,Cash loans,Cash,Female,Married - 1
307503,456247,Cash loans,Cash,Female,Single / not married - 0
307504,456248,Cash loans,Cash,Female,Separated - 0
307505,456249,Cash loans,Cash,Female,Single / not married - 0
307506,456251,Cash loans,Cash,Male,Separated - 0
307507,456252,Cash loans,Cash,Female,Widow - 0
307508,456253,Cash loans,Cash,Female,Separated - 0
307509,456254,Cash loans,Cash,Female,Married - 0
307510,456255,Cash loans,Cash,Female,Married - 0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子